<div class="bg-dark ">
  <div class="home bg-dark" id="home">
  
  
    <div class="row">
      <!-- <div class="col-lg-6  p-5">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://i.postimg.cc/R02PXH7H/various-vegetables-black-table-with-space-message-1220-616.jpg"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://i.postimg.cc/q7KGgpqT/360-F-382986848-lzi-Ksxpp-Ym-Wb-Yy-Bzgei9vqe9-JPOhcz-ND.jpg"
                class="d-block w-100" alt="...">
            </div>
  
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-6 p-5 mt-5">
        <div class="p-3 pe-4">
          <h1 class="text-dark" id="head">SIMPLE RECIPES MADE FOR</h1>
  
          <p class="" id="span" style="color: #800000;">real, actual, everyday life.</p>
          <p class="text-dark" id="para">We're building a recipe community where people discover plant-based foods, share recipes,
            and connect with creators.</p>
        </div>
      </div> -->
      <div class="text-block w-75 centered border-top border-bottom">
        <div class="p-3 pe-4">
          <h1 class="text-light" id="head">SIMPLE RECIPES MADE FOR</h1>
  
          <p class="" id="span" style="color: #9a2f2f;">real, actual, everyday life.</p>
          <p class="text-light" id="para">We're building a recipe community where people discover plant-based foods, share recipes,
            and connect with creators.</p>
        </div>
      </div>
  
    </div>
  
  
  </div>
  
  <div class="categories container">
  
    <h1 class="text-center py-4 mb-3 text-light" id="heading">The Best recipes</h1>
    <div class="row px-5">
      <div class="col-md-2 mb-3">
        <button type="button" class="btn btn-primary" (click)="changeFilterData('')">
          <h5 class="card-title">All</h5>
        </button>
      </div>
      <div class="col-md-2 mb-3">
        <button type="button" class="btn btn-secondary" (click)="changeFilterData('Breakfast')">
          <h5 class="card-title">Breakfast</h5>
        </button>
      </div>
      <div class="col-md-2 mb-3">
        <button type="button" class="btn btn-success" (click)="changeFilterData('Lunch')">
  
          <h5 class="card-title">Lunch</h5>
  
        </button>
      </div>
  
  
  
      <div class="col-md-2 mb-3">
        <button type="button" class="btn btn-danger" (click)="changeFilterData('Dinner')">
  
          <h5 class="card-title">Dinner</h5>
  
        </button>
      </div>
  
      <div class="col-md-2 mb-3">
        <button type="button" class="btn btn-warning" (click)="changeFilterData('Dessert')">
          <h5 class="card-title">Dessert</h5>
  
  
        </button>
      </div>
      <div class="col-md-2 mb-3">
        <button type="button" class="btn btn-info" (click)="changeFilterData('Beverage')">
  
          <h5 class="card-title">Beverage</h5>
  
        </button>
      </div>
    </div>
  </div>
  
  
  <div class="recipes text-center p-5">
  
    <div class="input-group flex-nowrap mb-5  w-75 container">
      <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
      <input [(ngModel)]="recipeName" name="n1" type="text" id="s1" class="form-control" placeholder="Search your recipe by title or cuisine" aria-label="Username"
        aria-describedby="addon-wrapping">
    </div>
  
  
    <!-- cards -->
  
    <div class="row ps-3">
      <div
        *ngFor="let i of recipeList | filterpipe: filterData| recipePipe : recipeName : 'name'| recipePipe : recipeName : 'cuisine'| paginate: {itemsPerPage: 8, currentPage: p} "
        class="card me-5 mb-5" style="width: 15rem; " id="anim">
        <a routerLink="single/{{i.id}}">
          <img [src]="i.image" class="card-img-top p-1 pt-3 rounded" alt="...">
  
        </a>
        <div class="card-body" id="cardtext">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="text-secondary" style="font-size: 14px;"> Cuisin Type :{{i.cuisine}}</p>
        </div>
      </div>
      <pagination-controls class="text-center mt-5 text-light" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  
  
</div>